/* Reset default margin and padding */
body, html {
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
}

/* Container styles */
.container {
    max-width: 500px; /* Adjust as needed for your layout */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
}

/* Heading styles */
h1 {
    text-align: center;
    color: #333;
}

/* Form label styles */
label {
    font-weight: bold;
}

/* Input and textarea styles */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 60%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in width */    
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="submit"]{
    padding: 20px 300px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Additional images container */
#additional-images {
    margin-top: 10px;
}

/* File input styles */
input[type="file"] {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}
